---
import BaseLayout from "./BaseLayout.astro"

const { frontmatter } = Astro.props
const pageTitle = frontmatter.title
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{frontmatter.title}</h1>
  <p class="font-bold text-gray-500 mb-0">
    {frontmatter.pubDate}
  </p>
  <div class="flex gap-3 flex-wrap mt-0 mb-5">
    {frontmatter.tags.map((tag) => (
      <a
        href={`/tags/${tag}`}
        class="p-1 text-sm dark:bg-zinc-800 hover:scale-110 active:scale-100 transition-all"
      >
        {tag}
      </a>
    ))}
  </div>
  <slot />
</BaseLayout>
